@import 'tailwindcss';
@import "flowbite/src/themes/default";

@plugin "flowbite/plugin";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source "../../node_modules/flowbite";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    
    /* Colors */
    --color-success-light: #10b981;
    --color-danger-light: #ef4444;
}

/* Custom modification */
@layer components {
    /* Price variation (red/green) */
    .price-badge-positive {
        @apply inline-flex items-center px-2.5 py-0.5 rounded-lg text-xs font-semibold bg-green-500/20 text-green-400;
    }
    
    .price-badge-negative {
        @apply inline-flex items-center px-2.5 py-0.5 rounded-lg text-xs font-semibold bg-red-500/20 text-red-400;
    }
    
    /* Overroide button to use green */
    .btn-trade-buy {
        @apply text-white bg-green-600 hover:bg-green-700 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800;
    }
    
    .btn-trade-sell {
        @apply text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900;
    }
}